[user]
	email = arc986@arc986.org
	name = arc986
	signingkey = 4FD70991B684F4B4
[core]
	editor = nvim
[commit]
	gpgSign = true
[gpg]
	program = gpg2
[tag]
	gpgSign = true
[init]
	defaultBranch = main
[push]
	gpgSign = false
